json_unit
json_benchmarks
fuzz-testing

*.dSYM
*.o
*.gcno
*.gcda

working

doc/xml
doc/html
me.nlohmann.json.docset

benchmarks/files/numbers/*.json

.idea
cmake-build-debug


test/test-*
.svn

test/thirdparty/Fuzzer/libFuzzer.a

test/parse_afl_fuzzer

test/parse_cbor_fuzzer

test/parse_msgpack_fuzzer
