json_unit
json_benchmarks
json_benchmarks_simple
fuzz-testing

*.dSYM
*.o
*.gcno
*.gcda

build
build_coverage
clang_analyze_build

benchmarks/files/numbers/*.json

.wsjcpp-logs/*
.wsjcpp/*

.idea
/cmake-build-*

test/test-*
/.vs

doc/html
doc/mkdocs/venv/
doc/mkdocs/docs/images
doc/mkdocs/docs/examples
doc/mkdocs/site
doc/mkdocs/docs/__pycache__/
/doc/docset/JSON_for_Modern_C++.docset/
/doc/docset/JSON_for_Modern_C++.tgz
