<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>JSON for Modern C++</string>
     <key>CFBundleIdentifier</key>
     <string>me.nlohmann.json</string>
     <key>CFBundleVersion</key>
     <string>2.1.1</string>
     <key>DocSetFeedName</key>
     <string>Doxygen generated docs</string>
     <key>DocSetPublisherIdentifier</key>
     <string>me.nlohmann</string>
     <key>DocSetPublisherName</key>
     <string>NielsLohmann</string>
     <key>DashDocSetFamily</key>
     <string>doxy</string>
     <key>DocSetPlatformFamily</key>
     <string>doxygen</string>
</dict>
</plist>
