# all paths are relative to the project root

# the root directory for the web server
# root: .

# configure SSL
# https:
#   enabled: true
# these filenames are listed in .gitignore
#  cert_file: localhost.pem
#  key_file: localhost-key.pem

# address and port for the server to listen on
# bind: null
# port: 8443
